.papercloud{
    max-width: 1024px;
    width: 100%;
    overflow: hidden;
}
.cloudheader{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.cloudnav{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 540;
    padding: 20px 0;
    align-items: center;
}
.headerlinks{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.headerlinks li{
    margin-left: 40px;
}
#ash{
    color: rgb(52, 53, 55);
    text-decoration: none;
}
.headerlinks li:hover{
    transform: translateY(-6px);
    transition: transform 0.5s cubic-bezier(0.2,0.8,0.2,1);
}
.sign-li{
    background-color: rgb(52, 53, 55);
    padding: 8px 30px;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgb(239, 222, 201);
}
.up{
    color: rgb(251, 243, 232);
    text-decoration: none;
}
.sign-li:hover{
    background-color: black;
    box-shadow: 0 11px 20px rgb(245, 199, 139);
    transition: box-shadow background-color 0.8s cubic-bezier(0.2,0.8,0.2,1);
}
#pbiz{
    font-size: 47px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(52, 53, 55);
    line-height: 1.1;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
#ness{
    font-size: 52px;
    font-weight: bolder;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
#p-biz{
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
}
#create{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color: rgb(105, 105, 108);
    line-height: 1.3;
}
.firsttext{
    display: flex;
    padding-top: 150px;
    padding-bottom: 80px;
}
#move{
    box-shadow: 0 10px 20px rgb(239, 222, 201);
    border-radius: 20px;
    border: 1px solid transparent;
    transition: box-shadow 0.8s, border 0.8s;
}
#move:hover{
    box-shadow: 0 10px 20px rgb(183, 232, 246);
    border-radius: 20px;
    border: 1px solid black;
    transition: box-shadow 0.8s, border 0.8s;
}
#voon{
    box-shadow: 0 10px 20px rgb(239, 222, 201);
    border-radius: 20px;
    border: 1px solid transparent;
    transition: box-shadow 0.8s, border 0.8s;
}
#voon:hover{
    box-shadow: 0 10px 20px rgb(183, 232, 246);
    border-radius: 20px;
    border: 1px solid black;
    transition: box-shadow 0.8s, border 0.8s;
}
#grid{
    opacity: 1;
    transform: translateX(30px);
}
#sample{
    border: 4px solid rgb(52, 53, 55);
    border-radius: 23px;
    transform: translateX(-60px);
    box-shadow: 0 10px 20px rgb(183, 232, 246);
}
.firstphone{
    display: flex;
    align-items: center;
}
.firstbody{
    background-color: rgb(244, 244, 244);
    padding: 50px 0;
    text-align: center;
    position: relative;
}
#stay{
    font-size: 47px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
#tins{
    font-weight: bolder;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
#data{
    font-size: 20px;
    color: rgb(105, 105, 108);
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
}
#cpaper{
    font-weight: bolder;
    color: black;
}
.six{
    text-align: left;
    width: 290px;
    height: 240px;
    padding: 20px;
    transform: translateY(-470px);
    border-radius: 8px;
    font-weight: lighter;
    color: rgb(54, 54, 56);
    cursor: default;
}
.expense, .invent{
    height: 250px;
}
.six-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 110px;
    position: absolute;
    /* opacity: 0; */
    /* transform: translateY(40px); */
    /* transition: transform 5s ease; */
}
.firstsix{
    background: transparent linear-gradient(309deg, rgb(253,243,231), rgb(255,255,255)) no-repeat;
    box-shadow: 0 10px 20px rgb(211, 205, 199);
    margin-bottom: 30px;
}
.firstsix:hover{
    box-shadow: 0 10px 20px rgb(183, 232, 246);
}
.secondsix{
    height: 230px;
    margin-bottom: 30px;
    background: transparent linear-gradient(306deg, rgb(253,243,231), rgb(254,239,240)) no-repeat;
    box-shadow: 0 10px 20px rgb(211, 205, 199);
}
.secondsix:hover{
    box-shadow: 0 10px 20px rgb(183, 232, 246);
}
.thirdsix{
    height: 230px;
    margin-bottom: 30px;
    background: transparent linear-gradient(307deg, rgb(253,243,231), rgb(255,249,206)) no-repeat;
    box-shadow: 0 10px 20px rgb(211, 205, 199);
    width: 305px;
}
.thirdsix:hover{
    box-shadow: 0 10px 20px rgb(183, 232, 246);
}
.forthsix{
    height: 215px;
    background: transparent linear-gradient(308deg, rgb(253,243,231), rgb(208,252,248)) no-repeat;
    box-shadow: 0 10px 20px rgb(211, 205, 199);
}
.forthsix:hover{
    box-shadow: 0 10px 20px rgb(183, 232, 246);
}
.fifthsix{
    height: 230px;
    background-color: rgb(233, 247, 247);
    box-shadow: 0 10px 20px rgb(211, 205, 199);
}
.fifthsix:hover{
    box-shadow: 0 10px 20px rgb(183, 232, 246);
}
.sixthdiv{
    height: 220px;
    background: transparent linear-gradient(123deg, rgb(249,250,223), rgb(233,208,252)) no-repeat;
    box-shadow: 0 10px 20px rgb(211, 205, 199);
}
.sixthdiv:hover{
    box-shadow: 0 10px 20px rgb(183, 232, 246);
}
/* .firstbody:hover .six-div{
    opacity: 1;
    transform: translateY(-25px);
    transition: transform 3s ease;
} */
.paperlink{
    margin-top: 95px;
    border-radius: 25px;
    background-color: white;
    height: 60px;
    width: 440px;
    box-shadow: 0 10px 20px rgb(239, 222, 201);
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 320px;
    cursor: pointer;
}
.paperlink a{
    text-decoration: none;
    color: rgb(52, 53, 55);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#days{
    font-weight: 900;
    font-size: 20px;
}
#use{
    font-family: 'Times New Roman', Times, serif;
}
.paperlink:hover{
    background-color: rgb(52, 53, 55);
    box-shadow: 0 11px 20px rgb(245, 199, 139);
    transform: translateY(-5px);
    transition: box-shadow transform background-color 0.8s cubic-bezier(0.2,0.8,0.2,1);
}
.paperlink:hover a{
    color: white;
}
.secondbody{
    padding: 50px 0;
}
.lines{
    transform: translateY(-95px);
}
.search{
    border: 4px solid rgb(52, 53, 55);
    border-radius: 23px;
    box-shadow: 0 10px 20px rgb(199, 234, 223);
    transform: translateX(-514px);
}
.thirdbody{
    background-color: rgb(244, 244, 244);
    padding: 50px 0;
    text-align: center;
    position: relative;
}
.thirdimg{
    display: flex;
    justify-content: flex-end;
}
.word{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    bottom: 125px;
}
.trill{
    width: 305px;
    height: 290px;
    background-color: red;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    text-align: left;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(52, 53, 55);
}
.trill:hover{
    transform: translateY(-5px);
    box-shadow: 0 40px 80px rgb(209, 236, 245);
    transition: box-shadow 0.8s, transform 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.ex{
    margin: 0 0 30px 0;
}
.forthbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    position: relative;
}
.lastcloud{
    border-radius: 25px;
    background-color: white;
    height: 60px;
    width: 440px;
    box-shadow: 0 10px 20px rgb(239, 222, 201);
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.lastcloud a{
    text-decoration: none;
    color: rgb(52, 53, 55);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.lastcloud:hover{
    background-color: rgb(52, 53, 55);
    box-shadow: 0 11px 20px rgb(245, 199, 139);
    transition: box-shadow background-color 0.8s cubic-bezier(0.2,0.8,0.2,1);
}
.lastcloud:hover a{
    color: white;
}
.easy{
    display: flex;
    justify-content: space-around;
}
.trimages{
    position: absolute;
    z-index: 1;
    bottom: 280px;
    display: flex;
    justify-content: space-around;
}
.fifthbody{
    background-color: rgb(244, 244, 244);
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.lastday{
    border-radius: 25px;
    background-color: white;
    height: 60px;
    width: 440px;
    box-shadow: 0 10px 20px rgb(239, 222, 201);
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    margin-top: 535px;
}
.lastday a{
    text-decoration: none;
    color: rgb(52, 53, 55);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.lastday:hover{
    background-color: rgb(52, 53, 55);
    box-shadow: 0 11px 20px rgb(245, 199, 139);
    transform: translateY(-5px);
    transition: box-shadow transform background-color 0.8s cubic-bezier(0.2,0.8,0.2,1);
}
.lastday:hover a{
    color: white;
}
.tree{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    transform: translateY(25px);
}
.three{
    width: 280px;
    height: 270px;
    border-radius: 23px;
    box-shadow: 0 10px 20px rgb(239, 222, 201);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.three:hover{
    box-shadow: 0 11px 20px rgb(239, 199, 147);
    transform: translateY(-10px);
    transition: box-shadow 2s cubic-bezier(0.2,0.8,0.2,1), transform 2s cubic-bezier(0.2,0.8,0.2,1);
}
.one{
    background-color: rgb(255, 255, 255);
}
.tri{
    width: 290px;
}
.footer{
    padding: 50px 0;
    background-color: rgb(52, 53, 53);
    display: flex;
    justify-content: space-between;
}
.fp p{
    margin-left: 150px;
}
.face:hover{
    color: rgb(211, 205, 199);
    cursor: pointer;
}
.twit:hover{
    color: rgb(211, 205, 199);
    cursor: pointer;
}
.insta:hover{
    color: rgb(211, 205, 199);
    cursor: pointer;
}
.help:hover{
    color: rgb(211, 205, 199);
    cursor: pointer;
}
.blog:hover{
    color: rgb(211, 205, 199);
    cursor: pointer;
}
.cus:hover{
    color: rgb(211, 205, 199);
    cursor: pointer;
}
.our:hover{
    color: rgb(211, 205, 199);
    cursor: pointer;
}
.terms:hover{
    color: rgb(211, 205, 199);
    cursor: pointer;
}
.pro:hover{
    color: rgb(211, 205, 199);
    cursor: pointer;
}
.break{
    display: none;
}
.high{
    line-height: 0.5;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
    cursor: pointer;
}
.logo{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    position: fixed;
    top: 80px;
    z-index: 1;
    display: none;
}


@media (min-width: 1025px) and (max-width: 1440px) {
    .papercloud{
        margin: 0 auto;
        width: 100%;
    }
}
@media screen and (max-width: 430px) {
    .firsttext{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        display: flex;
        width: 100%;
    }
    .firstphone{
        order: 1;
        margin-left: 120px;
        margin-top: -30px;
        margin-bottom: 40px;
    }
    .personal{
        order: 2;
        text-align: center;
    }
    #create{
        text-align: left;
    }
    #grid{
        display: none;
    }
    .appstore{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #move{
        margin-bottom: 40px;
    }
    #data{
        text-align: left;
        font-size: 16px;
    }
    #stay{
        font-size: 35px;
    }
    .six-div{
        margin-top: -480px;
        margin-left: 55px; 
    }
    .word{
        bottom: 160px;
    }
    .boon{
        margin-bottom: 30px;
    }
    .firstbody{
        height: 2050px;
    }
    .thirdbody{
        height: 2300px;
    }
    .paperlink{
        margin-top: 630px;
        transform: translateX(-265px);
        width: 305px;
        padding: 0;
    }
    #days{
        font-size: 16px;
    }
    #use{
        font-size: 15px;
    }
    #circle{
        width: 100%;
        height: 400px;
        margin-top: 600px;
    }
    .forthsix, .fifthsix{
        margin-bottom: 30px;
    }
    .search{
        transform: translateX(105px);
        height: 440px;
        width: 48%;
        margin-top: -380px;
    }
    .lines{
        transform: translateX(20px);
        margin-top: 150px;
        width: 90%;
    }
    .every{
        margin-bottom: 520px;
        margin-left: -220px;
        text-align: center;
    }
    .univer{
        top: 650px;
        transform: translateX(-650px);
        text-align: left;
        width: 100%;
    }
    .secondbody{
        height: 950px;
    }
    .thirdimg{
        margin-left: -540px;
        width: 950px;
    }
    .stut{
        height: 2000px;
    }
    .youass{
        text-align: left;
        font-size: 15px;
    }
    .laptop{
        display: none;
    }
    .vert{
        width: 100%;
    }
    .girl{
        width: 60%;
        height: 290px;
    }
    .phone{
        width: 35%;
    }
    .trimages{
        margin-bottom: 150px;
    }
    .lastcloud{
        transform: translateX(405px);
        padding: 0;
        width: 680px;
    }
    .see{
        transform: translateY(90px);
        margin-right: 320px;
        width: 100%;
    }
    .start{
        transform: translateY(130px);
    }
    .forthbody{
        height: 1250px;
    }
    .fifthbody{
        height: 1600px;
    }
    .tree{
        display: flex;
        flex-direction: column;
        align-items: space-around;
        margin-bottom: 50px;
        margin-left: -30px;
    }
    .arc{
        margin-top: 720px;
        height: 280px;
        width: 600px;
    }
    .one, .two{
        margin-bottom: 30px;
    }
    .lastday{
        margin-top: 1120px;
        width: 330px;
        padding: 0;
    }
    .no{
        margin-bottom: 20px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .fool{
        display: flex;
    }
    .fp{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: -130px ;
    }
    .useful{
        margin-top: 50px;
    }
    .pah{
        width: 100%;
        transform: translateX(5px);
    }
    .lasman{
        width: 82px;
        height: 85px;
    }
    .bum{
        width: 100%;
        transform: translateX(-50px);
    }
}

@media (min-width: 370px) and (max-width: 380px) {
    .firstbody{
        height: 2130px;
    }
    .paperlink{
        margin-top: 650px;
        margin-left: 300px;
    }
    .lastday{
        margin-top: 1150px;
    }
    .every{
        transform: translateX(-26px);
    }
    .six-div{
        margin-left: 40px;
    }
}

@media screen and (max-width: 330px) {
    .firstbody{
        height: 2200px;
    }
    .paperlink{
        width: 280px;
        transform: translateX(-300px);
        margin-top: 660px;
    }
    .six-div{
        margin-left: 15px;
    }
    .univer{
        margin-left: -35px;
        font-size: 10px;
    }
    .break{
        display: inline;
    }
    .forthbody{
        height: 1340px;
    }
    .start{
        transform: translateY(110px);
    }
    .logo{
        display: flex;
        width: 100%;
    }
    .every{
        transform: translateX(-40px);
    }
}

@media (min-width: 433px) and (max-width: 770px) {
    #grid{
        display: none;
    }
    .firsttext{
        padding-top: 0;
        display: flex;
        justify-content: space-between;
    }
    #move{
        height: 40px;
        width: 50%;
    }
    #voon{
        height: 40px;
        width: 50%;
        margin-top: 15px;
    }
    .firstphone{
        transform: translateX(30px);
    }
    .appstore{
        margin-left: 15px;
    }
    #data{
        text-align: center;
    }
    .firstbody{
        height: 1550px;
    }
    .six-div{
        margin-top: -15px;
    }
    .paperlink{
        margin-top: 390px;
        padding: 0;
        width: 380px;
        margin-left: 187px;
    }
    #circle{
        margin-top: 300px;
    }
    .media{
        margin-left: 70px;
    }
    .ann{
        margin-right: 70px;
    }
    .thirdbody{
        height: 1200px;
    }
    .secondbody{
        height: 1000px;
    }
    .lines{
        transform: translateX(200px);
        height: 270px;
        margin-bottom: 120px;
    }
    .search{
        height: 500px;
        width: 30%;
        transform: translateX(-230px);
    }
    .every{
        transform: translateY(-380px);
        margin-left: 120px;
    }
    .univer{
        width: 100%;
        margin-left: -450px;
        transform: translateY(70px);
    }
    .word{
        transform: translateY(30px);
    }
    .fidi{
        margin-left: 45px;
    }
    .ade{
        margin-right: 45px;
    }
    .laptop{
        display: none;
    }
    .vert{
        width: 100%;
    }
    .girl{
        width: 70%;
        height: 440px;
        transform: translateY(85px);
    }
    .phone{
        width: 60%;
        height: 400px;
        transform: translateY(30px);
    }
    .lastcloud{
        padding: 0;
        width: 380px;
        margin-left: 10px;
    }
    .fifthbody{
        height: 1200px;
    }
    .arc{
        margin-top: 350px;
        width: 130%;
        height: 1700px;
    }
    .lastday{
        transform: translateY(140px);
        padding: 0;
        width: 370px;
    }
    .no{
        margin-bottom: 30px;
    }
    .tree{
        display: flex;
        flex-wrap: wrap;
        transform: translateY(-40px);
    }
    .one{
        margin-bottom: 40px;
    }
    .two{
        margin-right: 60px;
    }
    .one, .tri{
        margin-left: 80px;
    }
    .logo{
        display: flex;
        width: 100%;
    }
    .footer{
        display: block;
    }
    .fp{
        margin-top: 30px;
    }
    .lab{
        display: none;
    }
    .pah{
        margin-left: 20px;
    }
    .useful{
        transform: translateX(50px);
    }
}


